

/*Dropdown settings */

@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 10px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  --color: #166e67;
  --gap: 0.5rem;
  --radius: 5px;
}

body {
  margin: 2rem;
  background-color: #b3e6f4;
  font-size: 0.9rem;
  color: black;
}

.btn {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: var(--gap);
  padding: 0.6rem;
  cursor: pointer;
  border-radius: var(--radius);
  border: none;
  box-shadow: var(--shadow);
  position: relative;
}

.bx {
  font-size: 1.1rem;
}

.dropdown {
  position: absolute;
  width: 250px;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  margin-top: 0.3rem;
  background: white;

  visibility: hidden;
  opacity: 0;
  transform: translateY(0.5rem);
  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
}

.dropdown a {
  display: flex;
  align-items: center;
  column-gap: var(--gap);
  padding: 0.8rem 1rem;
  text-decoration: none;
  color: black;
}

.dropdown a:hover {
  background-color: var(--color);
  color: white;
}

.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0rem);
}

.arrow {
  transform: rotate(180deg);
  transition: 0.2s ease;
}


/*Nivagation One */


.wrapperone {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    gap: 20px;

    position: absolute;
    width: 464.76px;
    height: 1187px;
    left: 1px;
    top: 170px;

    background: #1E2772;


}



.nav-boxtone{
  position: absolute;
  left:50px;
  }



.Dashboard {
  position: absolute;
  width: 702.63px;
  height: 190px;
  left: 100.7px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  
  
  }






/*Nivagation two */


.nav-boxtwo{
position: absolute;
width: 1455.24px;
top: 0px;


}

  .wrappertwo {

    position: absolute;
    width: 1454px;
    height: 1187px;
    left: 466px;
    top: 170px;
    background: #F4F4F4;
}


 nav{
  display: flex;
  align-items: right;
  justify-content: space-between;
  top: 0px;


 }

 .nav ul{
  display: flex;

 }

 nav .profile {

position: absolute;
width: 65.42px;
height: 80px;
left: 1350.33px;
top: 13px;
 }


 .nav-items {
list-style: none;
position: absolute;
justify-content: space-between;
align-items: right;
right: 10.49%;
top: 1.5%;




 }


   /* Search */

 .nav-search1 {
  box-sizing: border-box;
  position: absolute;
  left: 6.49%;
  top: 2.5%;
  background: #FFFFFF;
  border: 1px soli
  
   }



.form .fa-search{

    position: absolute;
    bottom: 10px;
    left: 20px;
    color: #9ca3af;

}

.form span{

    position: absolute;
    right: 8px;
    top: 5px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   
   padding-left: 10px;
}

.form-input{

    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}


  /*Hero Container (Header content) */

  
.header-container{
  position: absolute;
  width: 702.63px;
  height: 190px;
  left: 566.7px;
  top: 250px;

  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  
  color: #102048;


}
  
 








